#curOneFont {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#curTwoFont {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#number-form {
	margin-top: 50px;
}

#disp-row {
	display: none;
}
